@charset "utf-8";
@import url("fonts.css");

body {
    padding: 0;
	margin: 0 0.5%;
	line-height: 130%;
    text-align: justify;
    font-family: "DK-SONGTI","st","宋体","zw",sans-serif;
}
/*制作说明页*/
.ver {
    font-family: "DK-FANGSONG",仿宋,"fs","fangsong",sans-serif;
	font-weight: bold;
    font-size: 100%;
    color: #204d30;
    margin: 1em 0 1em 0;
    text-align: center;
}

.ver-title {
	margin:10% auto 0 auto;
    font-family: "DK-FANGSONG",仿宋,"fs","fangsong",sans-serif;
    font-size: 100%;
    text-indent: 0em;
    text-align: left;
    duokan-text-indent: 0em;
}
.ver-title_01 {
    font-family: "DK-FANGSONG",仿宋,"fs","fangsong",sans-serif;
    font-size: 95%;
    text-indent: 1.3em;
    text-align: left;
    duokan-text-indent: 1.1em;
	margin: 0em;
}
.ver-txt {
    font-family: "DK-FANGSONG",仿宋,"fs","fangsong",sans-serif;
	line-height: 100%;
    font-size: 85%;
    text-indent: 0em;
    text-align: left;
    duokan-text-indent: 0em;
}
.ver-char {
	font-family: "DK-KAITI", "kt", "楷体", "楷体_gb2312", serif;
    text-align: left;
    text-indent: 1em;
    duokan-text-indent: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	color: #204d30;
}
.ver-char_01 {
	font-weight: bold;
}
.ver-note {
    font-family: "DK-CODE","DK-XIHEITI",细黑体,"xihei",sans-serif;
    font-size: 60%;
    color: #204d30;
    text-indent: 0em;
    text-align: left;
    duokan-text-indent: 0em;
    padding-bottom: 15px;
}
.line {
    border: dotted #A2906A;
    border-width: 1px 0 0 0;
}